#logo {
  float: right;
  position: absolute;
  top: 0%;
  right:0%
}

ul.nav2 {
    padding-left: 0px;
    background-color: #00467C;
    text-align: center;
    border: 1px solid;
  }
  ul.nav2 > li {
    display: inline-block;
    top: 10px;
    
  }
  ul.nav2 > img{
    z-index: 5;
    top: 10px;
  }
  #Phone {
    padding: 10px;
    font-size: 16px;
    background: #00467C;
    height: 35px;
    width: 200px;
    border-radius: 20px;
    color: #ffffff;
   }
   #Phone span{
    text-align: center;
   }
 
  #Phone img{
   color: #ffffff;
  }
   
   #Phone:hover{
    background-color: white;
    color: black;
   }

  .search-bar {
    padding: 10px;
    font-size: 16px;
    border: solid 3px white;
    background: #00467C;
    width: 300px;
    border-radius: 10px;


   }
   .search-bar:hover{
    border: solid 3px #00467C;
   }
  .search-button {
    background: #00467C;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    size: 5px;
  }
 
  select  {
    font-size: 16px;
    display: inline-block;
    width: 150px;
  }

  select:hover {
    display: block;
}
  
  
 
  ul.nav1 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
    border-radius: 20px;
    text-align: center;
    width: 100%;
  
    
}
.nav1-content1 {
  position: relative;
  display: inline-block;
  z-index: 1;
  border-radius: 20px;
  color: 00233E;
  height: 45px;
  width: 150px;
  color: #00467C;
  font-size: 20px; 
  border: none;
  background-color: white;
}

.nav1-content2 {
  position: relative;
  display: inline-block;
  z-index: 1;
  border-radius: 20px;
  color: 00233E;
  height: 45px;
  width: 150px;
  color: #00467C;
  font-size: 20px;
  border: none;
}
.nav1-content1:hover{
background-color: #FFDE5F;
}
select:hover{
  background-color: #FFDE5F;
  }



  ul.na1 > li {
    display: inline-block;
    padding: 10px 10px;

  }


  .nav3{
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav3 img {
    width: 33.33%;
    position: relative;
    margin: 0;
    float: left;
  }


  .nav3 .middle .middle1{
    position: absolute;
    font: serif;
    color: #BD0128;
    top: 40%;
    right: 40%;
    
  }
  .nav3 .middle .middle2{
    position: absolute;
    font: serif;
    color: #BD0128;
    top: 75%;
    right: 40%;
    
  }


  .nav3 .right #button2 {
    position: absolute;
    top: 82%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: #E5A91F;
    border: solid 1px #00467C;
    color: #00467C;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  .right #button2:hover {
    background-color: #CF4E24;
    border: solid 1px #93B1BD;
    color: #93B1BD;
  }

  .left #button1{
    position: absolute;
    top: 80%;
    right: 75%;
    background-color: #E5A91F;
    border: solid 1px #00467C;
    color: #00467C;
    border-radius: 10px;
    height: 70px;
    width: 220px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }

  .left #button1:hover{
    background-color: #CF4E24;
    border: solid 1px #93B1BD;
    color: #93B1BD;
  }
