#logo {
  float: right;
}

ul.nav2 {
    padding-left: 0px;
    background-color: #00467C;
    text-align: center;
    border: 1px solid;
    overflow: auto;
    height: 50px;
  }
  ul.nav2 > li {
    display: inline-block;
    top: 10px;
    
  }
  ul.nav2 > img{
    z-index: 5;
    top: 10px;
  }

  ul .nav2 img{
    height: 50%;
  }

  input[placeholder] {
    text-align: center;
  }

  #Phone {
    padding: 10px;
    font-size: 16px;
    background: #00467C;
    height: 35px;
    width: 200px;
    border-radius: 20px;
    color: #ffffff;
   }
   #Phone span{
    text-align: center;
   }
 
  #Phone img{
   color: #ffffff;
  }
   
   #Phone:hover{
    background-color: white;
    color: black;
   }

  .search-bar {
    padding: 10px;
    font-size: 16px;
    border: solid 3px white;
    background: #00467C;
    width: 300px;
    border-radius: 10px;


   }
   .search-bar:hover{
    border: solid 3px #00467C;
   }
  .search-button {
    background: #00467C;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    size: 5px;
  }
 
  select  {
    font-size: 16px;
    display: inline-block;
    width: 150px;
  }

  select:hover {
    display: block;
}
  
  .nav1{
    position: relative;
    left: 20%;
  }
 
  ul.nav1 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    size: 100%;
    overflow: auto;
    
}


.nav1-content1 {
  position: relative;
  display: inline-block;
  z-index: 1;
  border-radius: 20px;
  color: 00233E;
  height: 45px;
  width: 150px;
  color: #00467C;
  font-size: 20px; 
  border: none;
  background: none;
}

.nav1-content2 {
  position: relative;
  display: inline-block;
  z-index: 1;
  border-radius: 20px;
  color: 00233E;
  height: 45px;
  width: 150px;
  color: #00467C;
  font-size: 20px;
  border: none;
  background: none;
}
.nav1-content1:hover{
background-color: #FFDE5F;
}
select:hover{
  background-color: #FFDE5F;
  }



  ul.na1 > li {
    display: inline-block;
    padding: 10px 10px;

  }


  .imageBox{
    flex-wrap: wrap;
    justify-content: center;
    size: 100%;
    overflow: auto;
  }

  .imageBox img {
    position: relative;
    width: 30%;
    z-index: 1;
    float: left;
  }

  .imageBox .left img{
    padding-left: 5%;
  }


  .imageBox .middle1{
    position: absolute;
    font: serif;
    color: #BD0128;
    top: 30%;
    right: 41%;
    z-index: 2;
    
  }
  .imageBox .middle2{
    position: absolute;
    font: serif;
    color: #BD0128;
    top: 60%;
    right: 41%;
    z-index: 2;
    
  }


  .imageBox #button2 {
    position: absolute;
    top: 73%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #E5A91F;
    border: solid 1px #00467C;
    color: #00467C;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    z-index: 2;
    size: 80%;
  }
   #button2:hover {
    background-color: #CF4E24;
    border: solid 1px #93B1BD;
    color: #93B1BD;
  }

   #button1{
    position: absolute;
    top: 70%;
    right: 73%;
    z-index: 9;
    background-color: #E5A91F;
    border: solid 1px #00467C;
    color: #00467C;
    border-radius: 10px;
    height: 70px;
    width: 220px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    z-index: 2;
    size: 80%;
  }

   #button1:hover{
    background-color: #CF4E24;
    border: solid 1px #93B1BD;
    color: #93B1BD;
  }

  #logo{
    position: absolute;
    top: 0%;
    right:0%;
    size: 33%;
  }

  #login{
    position: absolute;
    border: none;
    background: none;
    color: #00467C;
    font-size: 125%;
  }

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

